@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'Cabin', sans-serif;
    list-style: none;
}
/* edicao do botao About Me */

.buttonMe{
    border: none;
    padding-block: 15px;
    cursor: pointer;
    border-radius: 10px;
    padding-inline: 10px;
    background-color: #91739f;
    color: white;
}
.buttonMeAnother{
    background-color: white;
    color: black;
}
.btn-one{
	transition: all 0.3s;
	position: relative;
    cursor: pointer;
    
}
.btn-one .buttonMe {
	transition: all 0.3s;
    
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-block-color: #000000;
    border-radius: 10px;
	transform: scale(0.1, 1);
}
.btn-one:hover .buttonMe {
	letter-spacing: 2px;
    background-color: white;
    color: black;   
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
/* edicao do botao About Me */


.cabecario{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    box-shadow: 0px 3px 15px rgb(0, 0, 0);
    padding-block: 15px;
}
.listHeader{
    display: flex;
    align-items: center;
    margin-right: 70px;
}
.spanCacecario{
    margin-left: 100px;
    font-size: 3vh;
    cursor: pointer;
    padding-block: 5px;
    padding-inline: 5px;
    border: 5px solid;
    border-radius: 10px;
    border-image: repeating-linear-gradient(135deg,#a26fb9 0 10px,#03e9f4 0 20px,#a26fb9 0 30px) 8;
    -webkit-mask: 
    conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,white 0)
    var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(at bottom 8px left  8px,  #0000 90deg,white 0)
    0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
}
.spanCacecario:hover{
    --_i: 100%;
    transition: .3s, -webkit-mask-size .3s .3s;
}
.itensHeader{
    margin-right: 30px;
    font-size: 3vh;
    cursor: pointer;
    padding-block: 5px;
    padding-inline: 5px;
    border: 5px solid;
    border-radius: 10px;
    border-image: repeating-linear-gradient(135deg,#a26fb9 0 10px,#03e9f4 0 20px,#a26fb9 0 30px) 8;
    -webkit-mask: 
    conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,white 0)
    var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(at bottom 8px left  8px,  #0000 90deg,white 0)
    0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
}
.itensHeader:hover{
    --_i: 100%;
    transition: .3s, -webkit-mask-size .3s .3s;
}
.fundoSection{
    background-image:url(./imgs/montanha.jpg);
    background-color: #a26fb9;
    width: 100%;
    height: 50vh;
    background-repeat: repeat-x;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.conteudoPrincipal{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.liFirstSection{
    display: flex;
    align-items: center;
    width: 130vh;
}
.textFirstSection{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 100vh;
    font-size: 18px;
}
.textFirstSection:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
.primeiraSessao{
    display: flex;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    height: 200vh;
    width: 150vh;
}
.listFoto{
    text-align: end;
    margin-right: 100px;
}
.idFoto{
    width: 30vh;
    border-radius: 5px;
    border-radius: 50%;
    margin-top: 15px;
}
.idFoto:hover {
    background-color: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    transition: 0.5s;
    border-radius: 50%;
    transform: scale(1.1);
}
.ulIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}
.iconsImg{
    width: 60px;
    cursor: pointer;
    margin-right: 10px;
}
.iconsImg:hover{
    transform: scale(1.3);
    transition: 1s;
}
.neon-bt {
    margin-inline: 50px;
    position: relative;
    color: #03e9f4;
    overflow: hidden;
    transition: 1s;
    margin-block: 10px;
    letter-spacing: 4px;
    border-radius: 10px;
}

.neon-bt span {
    position: absolute;
    display: block;
}

.neon-bt span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
0% {
    left: -100%;
    }
50%,100% {
    left: 100%;
    
    border-radius: 10px;
    }
}
.neon-bt span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}
@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}
.neon-bt span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}
@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}
.neon-bt span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
.textFoto{
    margin-top: 40px;
    font-size: 50px;
    width: 70vh;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: none;
    border: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #75108a;
}
.botaoEsquerdo{
    display: flex;
    justify-content: end;
}
.textoFoto{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    background: none;
    border: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #75108a;
}
.textoFoto:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    transition: 0.5s;
}
.box{
    margin-left: 10vh;
}
.segundaSessao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
}

.divMe{
    display: flex;
    align-items: center;
    height: 45vh;
    width: 150vh;
}
.centro{
    text-align: center;
    width: 130vh;
    margin-top: 50px;
}
.imgMe{
    width: 350px;
}
.contacts{
    list-style: none;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 15px;
}
.liMe{
    margin-top: 10px;
    text-align: center;
}
.textMe{
    height: 20vh;
}

.divFormation{
    display: flex;
    align-items: center;
    height: 45vh;
    width: 150vh;;
}
.titleFormation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.imgFormation{
    width: 300px;
}
.formation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 145vh;
}
.univerty{
    margin-left: 10vh;
}
.formationItens{
    text-align: end;
}


.titleSkill{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45vh;
    margin-right: 10vh;
}
.skillImg{
    width: 400px;
}
.liSkill{
    width: 20vh;
}
.skillLvl{
    text-align: end;
    width: 30vh;
}


.divExperience{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.titleExp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ulExperience{
    display: flex;
    align-items: center;
}
.liExperience{
    width: 110vh;
}
.liItens{
    height: 15vh;
}
#exp2{
    height: 18vh;
}
#exp3{
    height: 20vh;
}

.experienceImg{
    width: 250px;
}



.titleLanguage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.languageImg{
    width: 250px;
    margin-left: 10vh;
    margin-bottom: 5vh;
}
.language{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ulLanguage{
    width: 20vh;
}
.languageLvl{
    text-align: end;
    width: 20vh;
    margin-right: 15vh;
}


.titleProjects{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portifolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portImg{
    width: 35vh;
    height: 30vh;
}
.divPort{
    height: 50vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10vh;
}
.ulPortifolio{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 80vh;
    margin-left: 20vh;
}
li .itensPort{
    width: 30vh;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 10px;
}
.liPort{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.liPort:hover{
    transform: scale(1.1);
    transition: 1s;
}
.ancoraPort{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 4vh;
    font-style: italic;
    color: black;
}
.ancoraPort:hover{
    border-radius: 10px;
    padding-inline: 10px;
    color: white;
    transition: 1s;
}